$footer_height: 150px;
$link_color: #512bd4;
$text_color: #222;
$header_text_color: #fff;
$light-bg-color: #f7f7f7;
$main_color: #512bd4;
$other_link_color: #0070be;

// Comments
$comments_bg_color: #f1f1f1;
$comments_border-color: #dfdfdf;
$comments_input_border-color: #bbb;
$comments_highlight_color: #ffec82;