@import "variables";

.notloaded {
    opacity: 0;
    transform: scale(.9);
}

.loaded {
    background: none;
    opacity: 1;
    transform: scale(1);
    transition: all 200ms ease-in;

    @media screen and (prefers-reduced-motion: reduce) {
        transition: none;
    }
}

noscript p {
    background-color: crimson;
    line-height: 2em;
    padding: 0 10px;
    color: white;
    font-size: .9em;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

.categories {
    list-style: none;
    display: inline;
    padding: 0;

    li {
        display: inline-block;
        font-size: 0.75em;

        &:not(:first-child):not(:last-child):after {
            content: " | ";
        }

        :before {
            content: none;
        }
    }
}

.categorylist {
    li {
        font-size: 1em;
    }
}

.socialsharing {
    text-align: center;

    a {
        display: inline-block;
        padding: 0 .5em 2em .5em;

        .facebook {
            color: #4267B2;
        }

        .twitter {
            color: #55ACEE;
        }

        .linkedin {
            color: #2867B2;
        }
    }

    a:hover {
        .facebook {
            color: #4267B2;
        }

        .twitter {
            color: #55ACEE;
        }

        .linkedin {
            color: #2867B2;
        }
    }

    i {
        .facebook {
            color: #4267B2;
        }

        .twitter {
            color: #55ACEE;
        }

        .mail {
            color: $link_color;
        }

        .linkedin {
            color: #2867B2;
        }
    }
}

.pagination {
    padding-bottom: 2em;
    margin-top: 1em;

    a {
        color: $text_color;

        &[rel=next] {
            float: right;
        }

        &:hover,
        &:focus {
            color: $main_color;
        }
    }

    i {
        font-size: 50px;
        vertical-align: middle;
    }
}

.sitefooter {
    color: #4f5861;
    font-size: 1rem;
    padding: 3rem 0;
}

.widget-social li {
    display: inline-block;
    margin-left: 1rem;
}

.post>div .widget-social ul li:before {
    content: none;
}

.widget-social a {
    color: #b3b3b3;
    display: block;
    border-radius: 10rem;
    font-weight: 500 !important;
    font-size: 1rem;
}

.widget-social i {
    display: inline-block;
    width: 1.25rem;
    font-size: 1.25rem;
    position: relative;
    top: .125rem;
}

.widget-social-fb:hover {
    color: #356AA3;
}

.widget-social-tw:hover {
    color: #55ACEE;
}

.widget-social-in:hover {
    color: #e4405f;
}

.widget-social-strava:hover {
    color: #fc4c02;
}

.widget-social-rss:hover {
    color: #f26522;
}

.widget-social-admin:hover {
    color: #cd9023;
}

.widget-social-linkedin:hover {
    color: #2867B2;
}

.widget-social-mastodon:hover {
    color: #6364FF;
}

.widget-social-bluesky:hover {
    color: #0085ff;
}

.author-card .author-card-image {
    position: relative;
    margin-right: 15px;
    width: 60px;
    height: 60px;
}

.author-profile-image {
    display: block;
    background: #e3e9ed;
    border-radius: 100%;
    object-fit: cover;
}

.about-footer {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    background-color: #f6f6ea;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1.5em;
    position: relative;
    overflow: hidden;
    border-top: 2px solid $main_color;
}

.bio-box {
    width: 460px;
    float: left;

    h4 {
        margin-top: 0;
        text-transform: uppercase;
        margin-bottom: 1em;
        color: $main_color;
        font-weight: 700;
        font-size: 1rem;
    }
}

.bio-box-inner {
    padding-left: 125px;
    min-height: 125px;
    background: transparent url(/blog/img/timheuer-tall.jpg) no-repeat left top;

    p {
        width: 100%;
        font-size: 80%;
    }

    i {
        .facebook {
            color: #4267B2;
        }

        .twitter {
            color: #55ACEE;
        }

        .linkedin {
            color: #2867B2;
        }

        .instagram {
            color: #e4405f;
        }

        .strava {
            color: #fc4c02;
        }

        .bluesky {
            color: #0085ff;
        }
    }
}

.ads-box {
    float: right;
}

.ad-item {
    float: left;
    margin-left: 1rem;
}

@media only screen and (max-width: 1000px) {
    .bio-box {
        width: 100%;
    }

    .bio-box-inner {
        background-size: 75px;
    }

    .ads-box {
        display: none;
    }

    .ad-sponsoreditem {
        display: none;
    }

    .post {
        header {
            h1 {
                font-size: 1.25rem;
            }
        }
    }
}

@media print {
    @page {
        margin: 2cm;
    }

    body {
        color: #000;
        background: #fff;
        font: 12pt/1.5 Calibri, serif;
        -webkit-print-color-adjust: exact;
    }

    nav,
    aside,
    footer,
    .video {
        display: none;
    }

    article {
        page-break-after: always;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    img {
        page-break-after: avoid;
        page-break-inside: avoid;
    }

    blockquote,
    table,
    pre {
        page-break-inside: avoid;
    }

    ul,
    ol,
    dl {
        page-break-before: avoid;
    }

    .post pre {
        background: none;
        border: none;
        box-shadow: none;
        font-family: monospace;
    }

    a[href^="http"]:after,
    a[href^="//"]:after {
        content: " <" attr(href) "> ";
    }
}