---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Contact - Tim Heuer" description="Contact Tim Heuer">
  <article class="post container" style="margin-top:50px">
    <header>
      <h1>Contact</h1>
    </header>
    <div>
      <p>
        The best way to reach me is via social media. You can find me on:
      </p>
      <ul>
        <li><a href="https://twitter.com/timheuer" target="_blank" rel="noopener">Twitter (@timheuer)</a></li>
        <li><a href="https://bsky.app/profile/timheuer.com" target="_blank" rel="me">Bluesky (timheuer.com)</a></li>
        <li><a href="https://mastodon.social/@timheuer" target="_blank" rel="me">Mastodon</a></li>
        <li><a href="https://linkedin.com/in/timheuer" target="_blank" rel="noopener">LinkedIn</a></li>
        <li><a href="https://instagram.com/timheuer" target="_blank" rel="noopener">Instagram</a></li>
      </ul>
    </div>
  </article>
</BaseLayout>
